/* Exercise 1 */
.Ex1 {
    width: 300px;
    height: 150px;
    background-color: rgb(248, 192, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ex1-button {
    cursor: pointer;
    background-color: rgb(248, 192, 255);
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 3px white inset, 3px 3px 3px black;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.Ex1-button:active {
    box-shadow: 3px 3px 3px black inset, -2px -2px 3px white inset;
    text-shadow: 1px 1px 3px black;
}
/* Exercise 2 */
.Ex2 {
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    transition: 1s;
} 

.Ex2-img {
    width: 100%;
    object-fit: contain;
    transition: 1s;
}

.Ex2-text {
    color: red;
    margin-top: 5px;
}

.Ex2:hover {
    cursor: pointer;
    box-shadow: 0 0 5px purple, 0 0 10px purple;
}

.Ex2:hover .Ex2-img {
    border-radius: 20px 20px 0 0;
}
/* Exercise 3 */
.Ex3 {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Ex3-text {
    font-size: 140px;
    letter-spacing: 20px;
    color: red;
    animation: glowText 0.5s ease-in-out infinite;
}

@keyframes glowText {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}
/* Exercise 4 */
/* Exercise 5 */
/* Exercise 6 */
/* Exercise 7 */
/* Exercise 8 */