/* exercise 1 */
.ex1 {
    width: 300px;
    height: 150px;
    background-color: rgb(248, 192, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ex1-button {
    cursor: pointer;
    background-color: rgb(248, 192, 255);
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 3px white inset, 3px 3px 3px black;
    color: white;
    text-shadow: 3px 3px 3px black;
}

.ex1-button:active {
    box-shadow: 3px 3px 3px black inset, -2px -2px 3px white inset;
    text-shadow: 1px 1px 3px black;
}
/* exercise 2 */
.ex2 {
    width: 300px;
    padding: 25px;
    border-radius: 20px;
    transition-delay: 1s;
    margin-left: 20px;
} 

.ex2-img {
    width: 100%;
    object-fit: contain;
    transition-delay: 1s;
}

.ex2-text {
    color: red;
    margin-top: 5px;
}

.ex2:hover {
    cursor: pointer;
    box-shadow: 0 0 5px purple, 0 0 10px purple;
}

.ex2:hover .ex2-img {
    border-radius: 20px 20px 0 0;
}
/* exercise 3 */
.ex3 {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ex3-text {
    font-size: 140px;
    letter-spacing: 20px;
    color: red;
    animation: glowText 0.5s ease-in-out infinite;
}

@keyframes glowText {
    0% {
        color: red;
    }
    50% {
        color: white;
    }
    100% {
        color: red;
    }
}
/* exercise 4 */
.ex4 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ex4-text {
    position: absolute;
    font-size: 50px;
    color: red;
}

.ex4-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid purple;
    border-top:20px solid blueviolet;
    border-right:20px solid rgb(209, 209, 243);
    animation: spin 2s linear infinite;
    cursor: pointer;
}

.ex4-spinner:hover {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg) ;
    }
    to {
        transform: rotate(360deg);
    }
}

/* exercise 5 */
.ex5 {
    background-color: rgb(90, 90, 90);
    display: flex;
    padding: 50px 150px;
    width: 1440px;
}

.ex5-nav {
    width: 100%;
}

.ex5-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ex5-link {
    font-size: 80px;
    color: wheat;
    text-shadow: 5px 5px 5px black;
    transition: 1s;
}

.ex5-link:hover {
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 40px purple, 0 0 60px purple;
}
/* exercise 6 */
.ex6 {
    margin: 20px 50px;
    width: 1000px;
    height: 40px;
    border: 2px solid grey;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.ex6-loading {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: red;
    animation: loading 5s linear normal;
}

.ex6-loading-text {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translatex(-50%);
}


@keyframes loading {
    from {
        width: 0%;
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        width: 100%;
        background-color: rgba(255, 0, 0, 1);
    }
}
/* exercise 7 */
/* exercise 8 */